<div class="col-xs-3">
  <span class="dropdown" is-open="dropdownOpen">
    <div class="input-group dropdown-toggle">
      <input type="datetime" datetime-converter class="form-control" data-ng-model="jog.start_time" required>
      <span class="input-group-addon"><i class="fa fa-calendar fa-lg"></i></span>
    </div>
    <ul class="dropdown-menu">
      <!-- https://github.com/dalelotts/angular-bootstrap-datetimepicker -->
      <datetimepicker datetime-converter data-ng-model="jog.start_time" on-set-time="closeDropdown()"/>
    </ul>
  </span>
</div>

<div class="col-xs-2">
  <input class="form-control" type="decimal" step="0.01" min="0" max="999" ng-model="jog.distance_in_miles" float-converter required>
</div>

<div class="col-xs-2">
  <input class="form-control" type="decimal" step="0.01" min="0" max="999" ng-model="jog.time_in_hours" float-converter required>
</div>

<div class="col-xs-2">
  {{ jog.distance_in_miles / jog.time_in_hours | number : 2 }}
  &nbsp;
</div>