<div ng-controller="JogsController">

  <h3>Recent Jogs</h3>

  <div class="btn-group" style="margin-bottom: 10px;">
    <label class="btn btn-default" ng-model="rangeDescriptor" btn-radio="'all'">All</label>
    <label class="btn btn-default" ng-model="rangeDescriptor" btn-radio="'today'">Today</label>
    <label class="btn btn-default" ng-model="rangeDescriptor" btn-radio="'pastWeek'">Past Week</label>
    <label class="btn btn-default" ng-model="rangeDescriptor" btn-radio="'pastMonth'">Past Month</label>
  </div>

  <div class="panel panel-default col-xs-12">
    <div class="row panel-heading">
      <div class="col-xs-3">
        Start Time
      </div>
      <div class="col-xs-2">
        Distance (Miles)
      </div>
      <div class="col-xs-2">
        Time (Hours)
      </div>
      <div class="col-xs-2">
        Average speed (mph)
      </div>
      <div class="col-xs-3">
        <button ng-click="new()" type="button" class="btn btn-success">
          <i class="fa fa-plus-circle fa-lg"></i>
          New
        </button>
      </div>
    </div>

    <ul class="list-group">
        <span ng-if="newJog">
          <li class="list-group-item row">

            <form class="form-inline" ng-submit="create()">

              <jog-form jog="newJog"></jog-form>

              <div class="col-xs-3">
                <button ng-click="newCancel($event)" class="btn">Cancel</button>
                <button type="submit" class="btn btn-primary">Create</button>
              </div>
            </form>

          </li>
        </span>

      <li ng-repeat="jog in jogs | dateRange:'start_time':rangeDescriptor | orderBy: '-start_time'"
          class="list-group-item row">

          <span ng-if="jog != editedJog">
            <div class="col-xs-3">
              {{ jog.start_time | date: 'short' }}
            </div>
            <div class="col-xs-2">
              {{ jog.distance_in_miles | number : 2 }}
            </div>
            <div class="col-xs-2">
              {{ jog.time_in_hours | number : 2 }}
            </div>
            <div class="col-xs-2">
              {{ jog.distance_in_miles / jog.time_in_hours | number : 2 }}
            </div>
            <div class="col-xs-3">
              <button ng-click="edit(jog)" type="button" class="btn"><i class="fa fa-pencil fa-lg"></i></button>
              <button ng-click="destroy(jog)" type="button" class="btn btn-danger"><i class="fa fa-trash-o fa-lg"></i>
              </button>
            </div>
          </span>

          <span ng-if="jog == editedJog">

            <!-- TODO: abstract the new / edit forms into one -->

            <form class="form-inline" ng-submit="update(jog)">

              <jog-form jog="jog"></jog-form>

              <div class="col-xs-3">
                <button ng-click="revertEdits(jog)" class="btn">Cancel</button>
                <button ng-click="update(jog)" class="btn btn-primary">Save</button>
              </div>
            </form>

          </span>

      </li>
    </ul>
  </div>

</div>