<div class="row col-xs-12 col-md-6">

  <div class="panel panel-default">

    <div class="panel-heading">
      <h3 class="panel-title">Create new user</h3>
    </div>

    <div class="panel-body">

      <form name="form" ng-submit="create()">

        <div class="form-group" ng-class="error('email')">
          <label for="email">Email</label>

          <div class="controls">
            <input id="email" name="email" type="text" ng-model="newUser.email" placeholder="Email" required/>
            <span class="help-block" ng-show="form.email.$invalid && form.email.$dirty">
              Email is required
            </span>
          </div>
        </div>

        <div class="form-group" ng-class="error('password')">
          <label for="password">Password</label>

          <div class="controls">
            <input id="password" name="password" type="text" ng-model="newUser.password" placeholder="Password" required/>
            <span class="help-block" ng-show="form.password.$invalid && form.password.$dirty">
              Password is required
            </span>
          </div>
        </div>

        <div class="form-group" ng-class="error('password_confirmation')">
          <label for="password_confirmation">Password confirmation</label>

          <div class="controls">
            <input id="password_confirmation" name="password_confirmation" type="text"
                   ng-model="newUser.password_confirmation" placeholder="Password confirmation" required/>
            <span class="help-block" ng-show="form.password_confirmation.$invalid && form.password_confirmation.$dirty">
              Password confirmation is required
            </span>
          </div>
        </div>

        <button class="btn btn-primary" type="submit">Create user</button>
        <a ui-sref="login">Or login, if you have already created a user.</a>
      </form>

    </div>
  </div>
</div>

<div class="col-xs-0 col-md-6"></div>